<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <title>{{page.title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/img/apple-touch-icon.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/favicon-32x32.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/favicon-16x16.png' | relative_url}}">
    <link rel="manifest" href="{{'/assets/img/site.webmanifest' | relative_url}}">
    <link rel="mask-icon" href="{{'/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{'/assets/img/favicon.ico' | relative_url}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{'/assets/img/browserconfig.xml' | relative_url}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{'/assets/css/all.min.css' | relative_url}}">
    <!-- Main css file -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | relative_url}}">
    <!-- Main font(s) -->
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- JavaScript  -->
    <script src="{{'/assets/js/bootstrap.bundle.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/main.js' | relative_url}}"></script>
</head>