<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 shadow-sm" aria-label="Twelfth navbar example">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse justify-content-md-center collapse" id="navbar2">
            <ul class="navbar-nav">
                <li class="nav-item ms-0 ms-lg-3">
                    <a class="nav-link" href="#">Data Content</a>
                </li>
                <li class="nav-item ms-0 ms-lg-3">
                    <a class="nav-link" href="#">Construction</a>
                </li>
                <li class="nav-item ms-0 ms-lg-3">
                    <a class="nav-link" href="#">Tools</a>
                </li>
                <li class="nav-item ms-0 ms-lg-3">
                    <a class="nav-link" href="#">API</a>
                </li>
                <li class="nav-item ms-0 ms-lg-3">
                    <a class="nav-link" href="#">Data Warehouse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>