--- 
layout: none 
permalink: assets/css/main.css 
--- 

@import "bootstrap_variables";
@import "bootstrap/bootstrap";


#navbar1 .nav-item>a:not(.dropdown-toggle) {
    border-radius: $btn-border-radius;
    border-bottom-color: $primary;
    margin: 4px 0 4px 0;
    &.active,
    &:hover {
        border-bottom-style: solid;
        border-bottom-width: 4px;
        margin-bottom: 0px;
    }
}

#navbar2 .nav-item>a:not(.dropdown-toggle) {
    border-radius: $btn-border-radius;
    margin: 4px 0 4px 0;
    border-bottom-color: $dark;
    &.active,
    &:hover {
        border-bottom-style: solid;
        border-bottom-width: 4px;
        margin-bottom: 0px;
    }
}

.instances .card:hover {
    box-shadow: $box-shadow;
}
