--- 
layout: none 
permalink: assets/css/main.css 
--- 

@import "bootstrap_variables";
@import "bootstrap/bootstrap";


/*-----General styling-----*/
main:not(.landingpage) {
    h1 {
        font-weight: 200;
        margin-bottom: $spacer * 1.5;
    }

    h2 {
        font-weight: 600;
        color: $primary;
        margin-top: $spacer * 1.5;
    }

    h3 {
        font-weight: 600;
    }

    h4 {
        font-weight: 600;
        color: $secondary;
        margin-top: $spacer * 1.5;
    }

    a {
        &:not(.btn) {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-word;
        }
    }

    ol li,
    ul li {
        // margin: 10px 0px;

        &::marker {
            color: $primary;
            font-weight: 600;
        }
    }

    img {
        @extend .img-fluid;
    }
}

/*-----Top navigation-----*/


#navbar1 .nav-item>a:not(.dropdown-toggle) {
    border-radius: $btn-border-radius;
    border-bottom-color: $primary;
    margin: $spacer * .25 0 $spacer * .25 0;
    &.active,
    &:hover {
        border-bottom-style: solid;
        border-bottom-width: $spacer * .25,;
        margin-bottom: 0px;
    }
}

#navbar2 .nav-item>a:not(.dropdown-toggle) {
    border-radius: $btn-border-radius;
    margin: 4px 0 4px 0;
    border-bottom-color: $dark;
    &.active,
    &:hover {
        border-bottom-style: solid;
        border-bottom-width: $spacer * .25,;
        margin-bottom: 0px;
    }
}

/*-----Home page-----*/


.instances .card:hover {
    box-shadow: $box-shadow;
}


/*-----Species tree-----*/

#species_tree_div {
    overflow-x: scroll;
    a {
        fill: $primary;
        text-decoration: $link-decoration;

        &:hover {
            fill: shift-color($primary, $link-shade-percentage);
            text-decoration: $link-hover-decoration;
        }

        &.leafnode_link {
            font-weight: 500;
            font-size: smaller;
        }

        &.innernode_link {
            font-size: x-small;
        }

    }
}
